<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">App Name</th>
      <th scope="col">Url</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @registered_applications.each_with_index do |reg_app, i| %>
    <tr scope="row">
      <td> <%= i + 1 %> </td>
      <td><%= reg_app.name %></td>
      <td><%= link_to reg_app.url, reg_app %></td>
    </tr>
    <% end %>
  </tbody>
</table>
