

<div class="jumbotron text-center">
  <h2> Analytics page for "<%= @registered_application.name %>" </h2>  -
</div>
<div class="container">
  <div class="col-md-4">
    <p> URL : <%= @registered_application.url %></p>
  </div>
  <div class="col-md-4">

  <%= pie_chart @registered_application.events.group(:name).count %>
  <p>Total events over time:</p>
  <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
  </div>
</div>
