<div class="jumbotron">
  <h1 class="display-3">Welcome to Blocmetrics!</h1>
  <p class="lead">Want to know what your website is doing? We can help!</p>
  <hr class="my-4">
  <p>Blocmetrics is a lightweight, customizable app that allows you to track user actions on your website.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
